<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

</head>
<body>
    <h1>
        Calculator
    </h1>

    <div class="container">
        <form action="/send" method="POST">
            <label for="Number One">First Number</label>
            <input
            type="text"
            placeholder="First Number"
            class="u-full-width"
            name="num1"
            />

            <label for="Number Two">Second Number</label>
            <input
            type="text"
            placeholder="Second Number"
            class="u-full-width"
            name="num2"
            />

            <label for="Operation">Operation</label>
            <select class="u-full-width" name="operation"></select>

        </form>
    </div>
</body>
</html>