<html>
<body>

<h2>Corona Quiz</h2>

<form action="/corona" method="POST" enctype="multipart/form-data">
        <fieldset id="1">
        1. Saya keluar rumah?<br>
          <input type="radio" value="value1" name="SKR">
          <label for="SKR">Ya</label><br>
          <input type="radio" value="value2" name="SKRR">
          <label for="SKRR">Tidak</label><br>
        </fieldset>

        <!-- <fieldset id="2">
        2. Saya menggunakan transportasi online (ojol, taxi, dll)?<br>
            <input type="radio" value="value1" name="TP">
            <label for="TP">Ya</label><br>
            <input type="radio" value="value2" name="TPP">
            <label for="TPP">Tidak</label><br>
        </fieldset> -->

        <!-- 

        <fieldset id="3">
        3. Saya menggunakan angkutan kota?<br>
            <input type="radio" value="value1" name="3">
            <label for="3">Ya</label><br>
            <input type="radio" value="value2" name="3">
            <label for="3">Tidak</label><br>
        </fieldset>

        <fieldset id="4">
        4. Saya menggunakan bus?<br>
            <input type="radio" value="value1" name="4">
            <label for="4">Ya</label><br>
            <input type="radio" value="value2" name="4">
            <label for="4">Tidak</label><br>
        </fieldset>

        <fieldset id="5">
        5. Saya menggunakan bajaj?<br>
            <input type="radio" value="value1" name="5">
            <label for="5">Ya</label><br>
            <input type="radio" value="value2" name="5">
            <label for="5">Tidak</label><br>
        </fieldset>

        <fieldset id="6">
        6. Saya menggunakan kereta api/krl/sejenisnya?<br>
            <input type="radio" value="value1" name="6">
            <label for="6">Ya</label><br>
            <input type="radio" value="value2" name="6">
            <label for="6">Tidak</label><br>
        </fieldset>

        <fieldset id="7">
        7. Saya keluar tidak menggunakan masker?<br>
            <input type="radio" value="value1" name="7">
            <label for="7">Ya</label><br>
            <input type="radio" value="value2" name="7">
            <label for="7">Tidak</label><br>
        </fieldset>

        <fieldset id="8">
        8. Saya tetap melakukan jabat tangan?<br>
            <input type="radio" value="value1" name="8">
            <label for="8">Ya</label><br>
            <input type="radio" value="value2" name="8">
            <label for="8">Tidak</label><br>
        </fieldset>

        <fieldset id="9">
        9. Saya tidak sering mencuci tagan di perjalanan?<br>
            <input type="radio" value="value1" name="9">
            <label for="9">Ya</label><br>
            <input type="radio" value="value2" name="9">
            <label for="9">Tidak</label><br>
        </fieldset>

        <fieldset id="10">
        10. Saya tidak sering menggunakan hand sanitizer?<br>
            <input type="radio" value="value1" name="10">
            <label for="10">Ya</label><br>
            <input type="radio" value="value2" name="10">
            <label for="10">Tidak</label><br>
        </fieldset>

        <fieldset id="11">
        11. Saya tidak menjaga jarak dengan orang lain ketika diluar rumah?<br>
            <input type="radio" value="value1" name="11">
            <label for="1">Ya</label><br>
            <input type="radio" value="value2" name="11">
            <label for="11">Tidak</label><br>
        </fieldset>

        <fieldset id="12">
        12. Saya tidak mencuci tangan ketika sampai di rumah?<br>
            <input type="radio" value="value1" name="12">
            <label for="12">Ya</label><br>
            <input type="radio" value="value2" name="12">
            <label for="12">Tidak</label><br>
        </fieldset>

        <fieldset id="13">
        13. Saya berada di wilayah/provinsi tertular?<br>
            <input type="radio" value="value1" name="13">
            <label for="13">Ya</label><br>
            <input type="radio" value="value2" name="13">
            <label for="13">Tidak</label><br>
        </fieldset>

        <fieldset id="14">
        14. Saya berusia di atas 60 tahun?<br>
            <input type="radio" value="value1" name="14">
            <label for="14">Ya</label><br>
            <input type="radio" value="value2" name="14">
            <label for="14">Tidak</label><br>
        </fieldset>

        <fieldset id="15">
        15. Saya mempunyai penyakit kronis?<br>
            <input type="radio" value="value1" name="15">
            <label for="15">Ya</label><br>
            <input type="radio" value="value2" name="15">
            <label for="15">Tidak</label><br>
        </fieldset><br> -->

  <input type="submit" value="OK">
</form> 

</body>
</html>