<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchased</title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

</head>
<body>
    <center>
    <h1>
        Purchased Report
    </h1>
    <a href="/">Back to Home</a><br><br>
    </center>
    <div class="container">
        <form action="/purch" method="POST">

            <label for="Nomor">Nomor</label>
            <input
            type="text"
            placeholder="KAS 17/Mar/20"
            class="u-full-width"
            name="nmr"
            />

            <label for="Tisu Kotak">Tisu Kotak</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="tisuk"
            />

            <label for="Sunligh">Sunligh</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="sunl"
            />

            <label for="Sabun Tangan">Sabun Tangan</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="st"
            />

            <label for="Super Pell">Super Pell</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="spl"
            />

            <label for="Sapu Lidi">Sapu Lidi</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="sapu"
            />

            <label for="Gula Pasir">Gula Pasir</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="glp"
            />

            <label for="Kopi Bubuk">Kopi Bubuk</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="kpb"
            />

            <label for="Teh Kotak">Teh Kotak</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="tehk"
            />

            <label for="Plastik Sampah">Plastik Sampah</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="plss"
            />

            <label for="Tissu Gulung">Tissu Gulung</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="tsg"
            />

            <label for="Prostex Wc">Prosetex Wc</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="ptw"
            />

            <label for="Lap Piring">Lap Piring</label>
            <input
            type="text"
            placeholder="Masukkan Jumlah Item"
            class="u-full-width"
            name="lpp"
            />
            
            <label for="Biaya Lainnya">Biaya Lainnya</label>
            <input
            type="text"
            placeholder="Contoh: 50000"
            class="u-full-width"
            name="dll"
            />


            <input type="submit" value="Calculate" id="calc_btn">

        </form>
    </div>

</body>
</html>